*{
    margin: 0rem;
    padding: 0rem;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #4D4B81;
    --secondary-color: #8EB8B3;
    --background-color-one: #9B97C3;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;  
}
/*nav*/

.navigation {
    width: 100%;
    height: 20vh;
    background-color: var(--primary-color);

}

.navigation .nav-brand {
    display: inline-block;

    font-size: 1rem;
    text-align: left;
    color: var(--secondary-color);
    font-size: 2rem;

}

.navigation .nav-pills {
    text-align: right;
    margin: 3rem 1rem 0.5rem 0.5rem;
}

.nav-pills_inline {

    list-style: none;
    display: inline;
    padding: 1rem;
    margin: 1rem .5rem 1rem 1rem;


}

a {
    text-decoration: none;
    color: black;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1rem;

}
header{
    width:100%;
    text-align: center;
    
}
.hero{
    text-align: center;
    padding:2rem 2rem rem 2rem;
    margin: 1rem 0rem .5rem 0rem;
    font-size: 2.5rem;
    
}
.hero-text{
    padding: 1rem;
    font-size: 1.2rem;
}
/*container */
.quiz-form{
    width: 60%;
    margin: auto;
    
    
}
.questions-container{
   padding: 1rem;
   text-align: center;
   
    
}
.questions{
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
}
label,input{
    font-size: 1.1rem;
    padding: 1rem;
    margin: 0.5rem .5rem 0.5rem 0.5rem;
    
}
#output-text{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.1rem;
}
.submit-button{
    width:20%;
}